* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  color: blue;
}

h2 {
  color: green;
}

.tip-container {
  margin-top: 10px;
}

.bill-container {
  width: 80%;
  height: 70%;
  background-color: azure;
  border-top: 1px solid gray;
  padding: 10px;
}

.tip-list {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tip-list #ten,
.tip-list #fifteen,
.tip-list #other {
  margin-left: 20px;
}

.tip-btn {
  padding: 3px;
  border: 1px solid gray;
  border-radius: 5px;
}

.grand-total {
  margin-top: 5px;
  border-top: 1px solid gray;
  padding-top: 15px;
}

#tip-amount,
#grand {
  font-size: 20px;
  color: blue;
}

#warning,
#final_greet {
  display: none;
}
